#sidebar{
  margin-top:4%;
  max-width: 15%;
  border-right: 1px solid #d8d8d8;
}
.nav{
  margin-top: 4%;
}
.rightnav{
  position:absolute;
  right:-1em;
  top:70%;
  margin-top:-2.4em;
  width:38%;
  min-width:25em;
  font-size:95%;
}
.left{
  position:absolute;
  left:0;
  top:0;
}
.mid{
  position:absolute;
  left:33%;
  top:0;
}
.right{
  position:absolute;
  left:66%;
  top:0;
}
.headgreen{
  background: rgb(87, 219, 94);
  margin:1%;
  font-weight: bold;
}
.headblue{
  background: rgb(114, 166, 249);
  margin:1%;
  font-weight: bold;
}
.panelnews{
  background: rgb(114, 166, 249,0.1);
}
